/* Variables */
$app-link-tile-bg:#fff;
$input-field-border: #00479f;
$input-field-color: #000;

/* Styles */
.login-container {
    max-width: 300px;
    margin: 0 auto;
    position: relative;
    
    @media (min-height: 768px) {
        height: 90vh;
    }
}

.login-title-img {
    margin: 24px auto;
    display: block;
    
    @media (min-width: 300px) {
        margin-bottom: 42px;
    }
}

.login-input-container {
    display: block;
    box-sizing: border-box;
    border: 1px solid $input-field-border;
    border-radius: 100px;
    padding: 18px;
    height: 62px;
    margin: 0 auto 20px;
    width: 80%;
    outline: 0;
    position: relative;
    
    @media (min-width: 360px) {
        width: 100%;
    }
    
    &:focus {
        box-shadow: 0 0 10px -1px $input-field-border;
    }
    
    &--error {
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
    }
    
    &--in-progress {
        transition: 0.2s all;
        width: 64px;
        border-radius: 50%;
        margin-left: auto; margin-right: auto;
        text-align: center;
        
        .login-input-container_field {
            display: none;
        }
        
        .login-input-container_icon {
            margin: 0 auto;
            animation: rotate 1s ease-in both;
            animation-iteration-count: infinite;
        }
    }
    
    &_icon {
        display:inline-block;
        vertical-align: middle;
        margin-right: 12px;
    }
    
    &_field {
        border: 0;
        outline: 0;
        background:none;
        width: calc(100% - 36px);
    }
}

.login-apps-thumbnail {
    margin-top: 40px;
     width: 100%;   
    @media (min-height: 768px) {
        position: absolute;
        bottom: 10px; 
    }
}

.login-form {
    width: 100%;
    
    @media (min-height: 768px) {
        position: absolute;
        bottom: 12vh; 
    }
    
    &_submit {
        @extend .login-input-container;
        background: #00479f;
        color: #fff;
        font-weight: 700;
        margin: 24px auto 10px;
        text-transform: uppercase;
        font-size: 18px;
        padding: 16px;
    }
    
    &_help {
        color: $input-field-border;
        font-size: 12px;
        text-align: center;
        text-decoration: none;
        
        &:link, &:visited, &:active, &:hover {
            text-decoration: none;
        }   
    }
    
    &_error-message {
        color: red;
        text-align: center;
        margin-bottom: 12px;
        font-size: 16px;
        font-weight: 100;
    }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}